.carousel-inner .item img{
  border: 10px;
  border-color: #000;
  margin: auto;
  height: 70%;
  width: 87%;
}


#wholePage{
  /*background-color: #000;*/
  background-image: url("../images/fondo2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
}

/***** Header ******/

#header-nav{
  height:120px;
  background-color: #B62511;
  margin: 0px 40px 0px 40px;
  border-color: #000;
}

.navbar-brand a h1{
  font-weight: 0;
  font-size: 75px;
  font-family: "informal roman";    /****informal roman, lucida handwriting****/
  padding-left: 20px;
  margin: 0px;
}

.navbar-brand a:link, .navbar-brand a:visited, .navbar-brand a:hover, .navbar-brand a:active{
  text-decoration:none;
  color: #DED890;
}

#collapsable-nav a{
  color: #DED890;
  font-weight: bold;
}

#collapsable-nav .active a{
  color: #3F3E39;
}

#collapsable-nav a:active{
  color: #666022;
}

#phone{
  clear: both;
  position: relative;
  text-align: right;
  top: 25px;
  left:0px;
}

#phone img{
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

#phone a:link, #phone a:visited, #phone a:hover, #phone a:active{
  text-decoration:none;
  color: #252525;
  font-size: 1.1em;
  vertical-align: middle;
  line-height: 100%;
}

.container{
  width: 90%;
}

.carousel-caption {
  background-color:rgba(0, 0, 0, 0.5);
  padding: 5px;
  padding-right: 10px;
  width: 73.5%;
  height: 15%;
  margin-right: 0;
  margin-bottom: 30%;
  font-weight: 0;
  font-size: 4em;
  font-family: "aharoni";
  text-shadow: 3px 3px 3px #000;
  color: #A7A04E;
  opacity: 1;
}

a.carousel-control:link, a.carousel-control:visited, a.carousel-control:hover, a.carousel-control:active{
  opacity: 0;
}

#bottons {
  border: 10px;
  width: 87%;
  margin: auto;
  background-image: url("../images/fuego.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

#bottons a {
  width: auto;
}

.botton {
  width: 300px;
}

a.botton:link, a.botton:visited, a.botton:hover, a.botton:active{
  text-decoration:none;
  color: #A7A04E;
  vertical-align: middle;
  line-height: 100%;
}

.botton_title {
  width: 300px;
  text-align: center;
  font-size: 3em;
  padding-top: 13px;
  margin-left: 440px;
  margin-bottom: 0;
  font-family: "cooper black";
  color: #A7A04E;
  opacity: 1;
}

.botton_image {
  width: 300px;
  height: 300px;
  position: relative;
  left: 440px;
  margin-bottom: 40px;
}

.botton_image img {
  width: 100%;
  height: 100%;
}
/*****End Jumbotron *****/
.visible-lg{
  visibility: hidden;
}

.visible-md{
  visibility: hidden;
}

.visible-sm{
  visibility: hidden;
}

.visible-xs{
  visibility: hidden;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .visible-md{
  visibility: visible;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md{
  visibility: visible;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm{
  visibility: visible;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .visible-xs{
  visibility: visible;
  }
}