
#superMenu{
	margin: 0px 5% 0 5%;
	background-color:rgba(0, 0, 0, 0.5);
}

#superMenu h1{
	text-align: center;
	margin: 0;
	padding-top: 10px;
	font-weight: bold;
	color: #ffffff;
}


#superMenu h2{
	margin: 0 0 20px 20px;
	padding-top: 10px;
	font-weight: bold;
	color: #ffffff;
}

#superMenu .item{
	height: 160px;
	margin: 20px 30px 20px 30px;
	background-color:rgba(0, 0, 0, 0.6);
}

#superMenu .item-Picture{
	padding: 0px;
}

#superMenu .item-Picture img{
	height: 160px;
	width: 160px;
}

#superMenu .item-text{
	color: #ffffff;
	height: 180px;
}

.item-Price{
	position: relative;
	text-align: right;
	top: 100px;
}