
#wholePage{
  /*background-color: #000;*/
  background-image: url("../images/fondo2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 1000px;
}


/***** Header ******/

#header-nav{
  background-color: #B62511;
  margin: 0px 40px 0px 40px;
  border-color: #000;
  height: auto;
}

#header-nav>div.container{
  margin:0;
  width: 100%;
  height:auto;
}

.navbar-brand {
  width:auto;
  height:auto;
}

.navbar-brand a h1{
  font-weight: 0;
  font-size: 85px;
  font-family: "informal roman";    /****informal roman, lucida handwriting****/
  margin: 0px;
}

.navbar-brand a:link, .navbar-brand a:visited, .navbar-brand a:hover, .navbar-brand a:active{
  text-decoration:none;
  color: #DED890;
}

#header-nav>div.container{
  height: auto;
}

.container>.navbar-header {
  margin: 0;
  padding: 0;
}

.navbar-header>#collapsable-nav {
  width: 100%;
  margin: 0;
  height: auto;
  text-align: center;
}

#collapsable-nav a{
  color: #DED890;
  font-weight: bold;
}

#collapsable-nav .active a{
  color: #3F3E39;
}

#collapsable-nav a:active{
  color: #666022;
}

#navbarToggle{
  position: relative;
  float: right;
  margin: 15px;
  margin-top: 60px;
}

.navbar-header{
  width: 100%;
  height: auto;
  padding-left: 10px;
  margin:0;
}

#phone{
  clear: both;
  position: relative;
  text-align: right;
  top: -50px;
  left:0px;
}

#phone img{
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

#phone a:link, #phone a:visited, #phone a:hover, #phone a:active{
  text-decoration:none;
  color: #252525;
  font-size: 1.1em;
  vertical-align: middle;
  line-height: 100%;
}

/********Carousel********/

#myCarousel{
  margin: 0px 5% 0 5%;
  background-color:rgba(0, 0, 0, 0.5);
  width: 90%;
}

.carousel-inner .item img{
  border: 10px;
  border-color: #000;
  margin: auto;
  height: 70%;
  width: 87%;
}

.carousel-caption {
  background-color:rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: absolute;
  left:13.5%;
  top:20%;
  height: 25%;
  width:80%;
  font-weight: 0;
  font-size: 5vw;
  font-family: "aharoni";
  text-align: left;
  text-shadow: 3px 3px 3px #000;
  color: #A7A04E;
  opacity: 1;
}

a.carousel-control:link, a.carousel-control:visited, a.carousel-control:hover, a.carousel-control:active{
  opacity: 0;
}

/**********Cartelera************/

#cartelera{
  height: auto;
  margin: 0 5% 0 5%;
  padding: 0;
  width: 90%;
  border: 5px solid #383833;
  background-color: rgb(0, 0, 0);
  font-family: "bookman old style";
  font-size: 15px;
  font-style: italic;
}

.cartel{
  height: 140px;
  width: 100%;
  /*
  border: 10px solid #383833;
  */
  vertical-align: middle;
}

.cartel p{
  padding: 8px;
  padding-top: 30px;
  text-align: left;
  height: auto;
}

.cartel p.cita{
  padding-top: 0;
  font-style: none;
  font-size: 13px;
  text-align: right;
}

#c1{
  background-color: rgb(0, 0, 0);
  border-right: 0.5px solid rgb(248, 248, 205);
  color: rgb(248, 248, 205);
}

#c2{
  background-color: rgb(0, 0, 0);
  border-right: 0.5px solid rgb(248, 248, 205);
  color: rgb(248, 248, 205);
}

#c3{
  background-color: #000;
  color: rgb(248, 248, 205);
}

/*************Pedir YA!!*************/

#bottons {
  border: 10px solid #978D7A;
  margin: 0 5% 0 5%;
  background-color:rgba(256, 256, 220, 0.5);
  height: 350px;
  text-align: center;
  width: 90%;
}

#bottons a {
  width: auto;
}

.botton {
  width: 250px;
  display: inline-block;
}

a.botton:link, a.botton:visited, a.botton:hover, a.botton:active{
  text-decoration:none;
  color: #000000;
  vertical-align: middle;
  line-height: 100%;
}

.botton_title {
  width: 250px;
  text-align: center;
  font-size: 3em;
  padding-top: 13px;
  font-family: "cooper black";
  color: #000000;
  opacity: 1;
}

.botton_image {
  width: 250px;
  height: 250px;
  margin-bottom: 40px;
}

.botton_image img {
  width: 100%;
  height: 100%;
  border: 10px;
  border-color: #ffffff;
}

/************Calculadora***********/

#calculatorMenu {
  border: 10px solid #000000;
  margin: 0 5% 0 5%;
  background-color: #B62511;
  height: 300px;
  width: 90%;
}

#calculatorMenu>p{
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 1.2em;
  font-family: "candara";
}

.calculadora_title {
  width: 100%;
  text-align: center;
  font-size: 3em;
  padding-top: 13px;
  margin: 10px 0 0 0;
  font-family: "cooper black";
  color: #000000;
  opacity: 1;
}

#calculadora_botton{
  text-align: center;
  margin-bottom: 10px;
}


a.calcBotton:hover, a.calcBotton:visited, a.calcBotton:active, a.calcBotton:link{
  text-decoration:none;
  background-color: #ff6600;
  border: 5px solid #ffffff;
  color: #ffffff;
  padding: 20px 12vw 20px 12vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30%;
  margin: 20px auto 0 auto;
  font-family: "candara";
}

a.calcBotton:hover{
  font-size: 24px;
}

/************Quienes somos**************/

#infoMenu{
  border: 10px solid #000000;
  margin: 0 5% 0 5%;
  padding: 0;
  background-color: #333333;
  height: auto;
  width: 90%;
  text-align:right;
}

.quienesSomos_title>p{
  text-align: left;
  font-size: 3em;
  padding-top: 13px;
  margin: 10px 0 0 0;
  font-family: "cooper black";
  color: #fff;
  opacity: 1;
}

.quienesSomos_body>p{
  text-align: left;
  color: #eef;
  font-size: 1.1em;
  font-weight: bold;
  font-family: "candara";
}

#imgQuienesSomos{
  height:100%;
  text-align:right;
  padding-right:0;
  display: inline-block;
}

#imgQuienesSomos> img{
  width: 100%;
  height: 100%;
  margin:0;
  display: inline-block;
}

/************Contacto*************/

#contacto {
  border: 10px solid #000000;
  margin: 0 5% 0 5%;
  padding-right: 0;
  padding-left: 0;
  background-color: #A7A04E;
  height: auto;
  width: 90%;

}

.contacto_titulo{
  text-align: center;
  font-size: 3em;
  padding-top: 13px;
  margin: 10px 0 0 0;
  font-family: "cooper black";
  color: #23231E;
  opacity: 1;
}

#lista_contacto{
  width: 100%;
  color: #23231E;
  padding-top: 35px;
  padding-bottom: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  font-family: "candara";
  list-style-type: none;
}

.elemento_cont{
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.titulito{
  color: #181816;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  font-family: "candara";
}

.textito{
  padding-left: 12px;
  display: inline-block;
  text-align: right;
}

#insert_nombre{
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #333;
  border-radius: 4px;
  background-color: #474740;
  resize: none;
  color: #eee;
}

#insert_msj{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #333;
  border-radius: 4px;
  background-color: #474740;
  resize: none;
  color: #eee;
}

/************Footer**************/

#footer{
  height:120px;
  background-color: #B62511;
  margin: 0px 40px 0px 40px;
  border-color: #000;
}


/************************************  CALCULADORA  *******************************************/

#calculadoraPage{
	margin: 0px 5% 0 5%;
	background-color:rgba(230, 225, 225, 0.75);
	min-height: 400px;
	height: auto;
}

h2.calculadora {
  padding: 20px;
  margin: 0;
  text-align: center; 
  font-size: 3em;
  font-family: "cooper black";
  color: #23231E;
  opacity: 1;
}

#cantPersonas {
  text-align: center;
}

h3.calculadora {
  padding: 10px;
  margin: 0;
  font-family: "arial";
  font-size: 2em;
  color: #23231E;
  font-weight: bold;
}

#campos {
  width: 40%;
  height: auto;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 3vw;
  margin-bottom: 3vw;
  padding: 15px;
  padding-left: 8%;
  padding-right: 8%;
  color: #181816;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  font-family: "candara";
  background-color: #ff6600;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 5%;
}

#nomCampos {
  padding: 0;
}

#nomCampos>.linea {
  padding: 10px;
}

#enterNom {
  text-align: center;
  padding: 0;

}

#enterNom>input {
  margin: 7px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.cortes {
  text-align: center;
  padding: 10px;
}

h4.calculadora {
  padding: 15px;
  margin: 0;
  font-family: "arial";
  font-size: 2em;
  font-weight: bold;
  color: #23231E;
}

.tipoCarne {
  padding: 20px;
  margin: 0;
  font-family: "arial";
  font-size: 1.6em;
  color: #23231E;
  font-weight: bold;
}

/* Customize the label (the container) */
label.container {
  width: auto;
  padding: 0;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
label.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.tipoCorte {
  text-decoration:none;
  background-color: #ff6600;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 2.5px 1.5vw 2.5px 1.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 20%;
  margin: 6px;
  font-family: "candara";
  opacity: 0.7;
  transition: 0.3s;

}

/* On mouse-over, add a grey background color */
label.container:hover input ~ .tipoCorte {
  opacity: 1;
}

/* When the checkbox is checked, add a blue background */
label.container input:checked ~ .tipoCorte{
  opacity: 1;
}


/*****End Page *****/
.visible-lg{
  visibility: hidden;
}

.visible-md{
  visibility: hidden;
}

.visible-sm{
  visibility: hidden;
}

.visible-xs{
  visibility: hidden;
}

/********** Large devices only **********/
@media (min-width: 1200px) {

  /************Header************/

  .navbar>.container .navbar-brand{
    margin: 0px 0 0 20px;
  }

  #nav-list{
    position: relative;
    top: 0px;
  }


  /************Extra***********/

  .visible-lg{
    visibility: visible;
  }

  .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
  .col-lg-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 75%;
  }

  .col-lg-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 66.6%;
  }

  .col-lg-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 50%;
  }
  .col-lg-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 33.333%;
  }
  .col-lg-3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 25%;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1200px) {
  
  /************Header************/

  .navbar>.container .navbar-brand{
    margin: 0px 0 0 20px;
  }

  #nav-list{
    position: relative;
    top: 0px;
  }

  /************Cartelera************/

  #c2{
    border: 0;
  }

  #c3{
    border-top : 0.5px solid rgb(248, 248, 205);
  }

  /************Quienes Somos************/

  .quienesSomos_title>p{
    font-size: 2.5em;
  }

  .quienesSomos_body>p{
    font-size: 1em;
  }

  .quienes_image{
    width: 100%;
  }

  .quienes_image img{
    width: 100%;
  }

  /************Pedido************/

  .cantidad-precio{
    width: auto;
    position: relative;
    float: left;
    left: 50%;
  }


  #carrito{
    min-height: 800px;
  }

  #CajaPedido h2{
    font-size: 2.25em;
  }

  #CajaPedido p{
    font-size: 1.1em;
  }
  
  a.submit:hover, a.submit:visited, a.submit:active, a.submit:link{
    padding: 10px 5vw 10px 6vw;
    font-size: 18px;
    margin: 5px auto 0 auto;
  }
  
  a.submit:hover{
    font-size: 20px;
  }
  

  #CajaDatos h2{
    font-size: 2.3em;
  }

  #CajaDatos p{
    font-size: 1.1em;
  }

  #campos-datos{
    font-size: 1em;
  }

  #campos-datos input{
    width: 100%;
  }

  #comentarios{
    height: 60px;
  }
      
  a.enviar:hover, a.enviar:visited, a.enviar:active, a.enviar:link{
    padding: 15px 7.5vw 15px 7.5vw;
    font-size: 20px;
  }
  
  a.enviar:hover{
    font-size: 22px;
  }


  /************Extra************/

  .visible-md{
  visibility: visible;
  }

  .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }

  .col-md-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 75%;
  }
  .col-md-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 66.6%;
  }

  .col-md-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 50%;
  }
  .col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 33.3%;
  }
  .col-md-3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 25%;
  }
}

/********** Small devices only **********/
@media (min-width: 870px) and (max-width: 992px) {
  
  /************Header************/

  .navbar>.container .navbar-brand{
    margin: 0px 0 0 20px;
  }

  #nav-list{
    position: relative;
    top: 0px;
  }

  /************Cartelera************/

  .cartel{
    height: auto;
  }

  #c1{
    border: 0;
  }

  #c2{
    border: 0;
  }

  /************Quienes Somos************/

  .quienesSomos_title>p{
    font-size: 2.5em;
    text-align: center;
  }

  .quienesSomos_body>p{
    font-size: 1em;
    text-align: center;
  }

  /************Contacto************/

  .contacto_titulo{
    font-size: 2.5em;
  }

  /************Pedido************/

  #superMenu a:link, #superMenu a:visited, #superMenu a:hover, #superMenu a:active{
    font-size: 1em;
  }

  .pedidoText {
    margin: 0 10% 0 10%;
  }

  .item-Title{
    margin-left: 10%;
    font-size: 1.1em;
    font-weight: bold;
  }

  .item-Description{
    margin-left: 10%;
  }
  

  .cantidad-precio{
    width: auto;
    position: relative;
    float: left;
    left: 38%;
  }

  #carrito{
    min-height: 750px;
  }

  #CajaPedido h2{
    font-size: 2em;
  }

  #CajaPedido p{
    font-size: 1em;
  }
  
  a.submit:hover, a.submit:visited, a.submit:active, a.submit:link{
    padding: 10px 5vw 10px 6vw;
    font-size: 16px;
    margin: 5px auto 0 auto;
  }
  
  a.submit:hover{
    font-size: 18px;
  }
  

  #CajaDatos h2{
    font-size: 1.9em;
  }

  #CajaDatos p{
    font-size: 1em;
  }

  #campos-datos{
    font-size: 1em;
  }

  #campos-datos input{
    width: 100%;
  }

  #comentarios{
    height: 60px;
  }
      
  a.enviar:hover, a.enviar:visited, a.enviar:active, a.enviar:link{
    padding: 15px 7.5vw 15px 7.5vw;
    font-size: 18px;
  }
  
  a.enviar:hover{
    font-size: 20px;
  }


  /************Extra************/

  .visible-sm{
    visibility: visible;
  }

  .hidden-sm{
    visibility: hidden;
  }

  .col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }

  .col-sm-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 75%;
  }

  .col-sm-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 66.66%;
  }

  .col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 50%;
  }

  .col-sm-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 33.33%;
  }

  .col-sm-3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 25%;
  }

}
/*********SM-XS Devices********/
  @media (min-width: 768px) and (max-width: 870px) {
    
    /************Header************/
    
    .navbar>.container .navbar-brand{
      margin: 0px 0 0 20px;
    }

    #nav-list{
      position: relative;
      top: 0px;
    }

    /************Cartelera************/

    .cartel{
      height: auto;
    }

    #c1{
      border: 0;
    }
  
    #c2{
      border: 0;
    }

    /************Quienes somos************/

    .quienesSomos_title>p{
      font-size: 2.5em;
      text-align: center;
    }
  
    .quienesSomos_body>p{
      font-size: 1em;
      text-align: center;
    }

    /************Calculadora************/

    #calculatorMenu{
      height: auto;
    }

    #navCalculadoraButton{
      width: 0px;
    }

    /************Contacto************/

    .contacto_titulo{
      font-size: 2.5em;
    }

    #info_contacto {
      padding: 0;
    }

    /************Pedido************/

    #superMenu a:link, #superMenu a:visited, #superMenu a:hover, #superMenu a:active{
      font-size: 1em;
    }
  
    .pedidoText {
      margin: 0 10% 0 10%;
    }

    .item-Title{
      margin-left: -10%;
      font-size: 1.1em;
      font-weight: bold;
    }
  
    .item-Description{
      margin-left: -10%;
    }
    
    .cantidad-precio{
      width: auto;
      position: relative;
      float: left;
      left: 60%;
    }

    #carrito{
      min-height: 700px;
    }
  
    #CajaPedido h2{
      font-size: 2em;
    }
  
    #CajaPedido p{
      font-size: 1em;
    }
    
    a.submit:hover, a.submit:visited, a.submit:active, a.submit:link{
      padding: 10px 5vw 10px 6vw;
      font-size: 16px;
      margin: 5px auto 0 auto;
    }
    
    a.submit:hover{
      font-size: 18px;
    }
    
    #CajaDatos h2{
      font-size: 1.8em;
    }
  
    #CajaDatos p{
      font-size: 1em;
    }
  
    #campos-datos{
      font-size: 0.9em;
    }
  
    #campos-datos input{
      width: 100%;
    }
  
    #comentarios{
      height: 60px;
    }
        
    a.enviar:hover, a.enviar:visited, a.enviar:active, a.enviar:link{
      padding: 15px 7.5vw 15px 7.5vw;
      font-size: 18px;
    }
    
    a.enviar:hover{
      font-size: 20px;
    }


    /************Extra************/

    .hidden-sx{
      visibility: hidden;
    }

    .visible-sm{
      visibility: visible;
    }

    .hidden-sm{
      visibility: hidden;
    }

    .col-sm-12 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 100%;
    }

    .col-sx-12 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 100%;
    }
  
    .col-sx-9 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 75%;
    }
  
    .col-sx-8 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 66.66%;
    }
  
    .col-sx-6 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 50%;
    }
  
    .col-sx-4 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 33.33%;
    }
  
    .col-sx-3 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 25%;
    }
  }

/********** Extra small devices only **********/
@media (min-width: 471px) and (max-width: 768px) {
  
  /************Header************/

  #header-nav{
    margin: 0;
    width: 100%;
  }

  .navbar-brand a h1{
    font-size: 10vw;
  }

  #navbarToggle{
    margin-top: 40px;
  }

  /************Carousel************/

  #myCarousel{
    margin: 0;
    width: 100%;
  }

  .carousel-inner>.item>img{
    width: 100%;
    height: 100%;
  }

  .carousel-caption {
    left:20%;
  }

  /************Cartelera************/

  #cartelera{
    margin: 0;
    width: 100%;
  }

  .cartel{
    height: auto;
  }

  #c1{
    border: 0;
  }

  #c2{
    border: 0;
  }

  /************Pedir YA!!************/

  #bottons {
    margin: 0;
    width: 100%;
    height: auto;
    background-color:rgba(256, 256, 220, 0);
    border-color:rgba(256, 256, 220, 0);
  }

  .botton {
    width:90%;
    height: 60%;
  }

  .botton_image {
    width: 0;
    height: 0;
    margin: 0;
  }

  a#pedirBoton:link, a#pedirBoton:visited, a#pedirBoton:hover, a#pedirBoton:active{
    height:100%;
    width: 100%;
    text-decoration:none;
    background-color: rgb(256, 256, 220, 0.6);
    border: 5px solid #978D7A;
    color: #000;
    padding: 10px 6vw 10px 6vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5vw;
    font-weight: bold;
    border-radius: 30%;
    margin: 20px auto 0 auto;
    font-family: "candara";
  }
  
  .botton_title {
    height:50%;
    width: 100%;
    text-align: center;
    font-size: 3em;
    padding-top: 13px;
    font-family: "cooper black";
    color: #000000;
    opacity: 1;
  }

  a#pedirBoton>p {
    margin: 0;
  }

  /************Calculadora************/

  #calculatorMenu {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .calculadora_title {
    font-size: 2.6em;
  }

  /************Quienes Somos************/

  #infoMenu{
    margin: 0;
    width: 100%;
  }

  .quienesSomos_title>p{
    font-size: 2.5em;
    text-align: center;
  }

  .quienesSomos_body>p{
    font-size: 1em;
    text-align: center;
  }

  /************Contacto************/

  #contacto{
    margin: 0;
    width: 100%;
  }

  .contacto_titulo{
    font-size: 2.5em;
  }

  #info_contacto {
    text-align: center;
  }

  /************Pedido************/

  #superMenu a:link, #superMenu a:visited, #superMenu a:hover, #superMenu a:active{
    font-size: 1em;
  }

  .pedidoText {
    margin: 0 10% 0 10%;
  }

  .item-Title{
    margin-left: 10px;
    font-size: 1.1em;
    font-weight: bold;
  }

  .item-Description{
    margin-left: 10px;
  }
  
  
  .cantidad-precio{
    width: auto;
    position: relative;
    float: left;
    left: 40%;
  }

  #carrito{
    min-height: 700px;
  }

  #CajaPedido h2{
    font-size: 1.6em;
  }

  #CajaPedido p{
    font-size: 0.9em;
  }
  
  a.submit:hover, a.submit:visited, a.submit:active, a.submit:link{
    padding: 7.25px 3.75vw 7.25px 4.5vw;
    font-size: 14px;
    margin: 5px auto 0 auto;
  }
  
  a.submit:hover{
    font-size: 16px;
  }
  

  #CajaDatos h2{
    font-size: 1.5em;
  }

  #CajaDatos p{
    font-size: 0.8em;
  }

  #campos-datos{
    font-size: 0.8em;
  }

  #campos-datos input{
    width: 100%;
  }

  #comentarios{
    height: 60px;
  }
      
  a.enviar:hover, a.enviar:visited, a.enviar:active, a.enviar:link{
    padding: 7.5px 3.75vw 7.5px 3.75vw;
    font-size: 16px;
  }
  
  a.enviar:hover{
    font-size: 20px;
  }




  /************Extra************/

  .visible-xs{
    visibility: visible;
  }

  .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }

  .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }

  .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 75%;
  }

  .col-xs-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 66.66%;
  }

  .col-xs-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 50%;
  }

  .col-xs-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 33.33%;
  }

  .col-xs-3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 25%;
  }
}

@media (max-width: 470px){

  /************Header************/

  .navbar-brand a h1{
    font-size: 13vw;  
  }

  #header-nav{
    margin: 0;
    width: 100%;
  }

  #navbarToggle{
    margin-top: 25px;
    margin-left: 0px;
    margin-right:20px;
    padding:5px;
  }

  .navbar-header{
    margin:0;
  }

  #header-nav>div.container{
    padding: 0;
  }

  /************Carousel************/

  #myCarousel{
    margin: 0;
    width: 100%;
    height: 50px;
  }

  .carousel-inner>.item>img{
    width: 100%;
    height: 100%;
  }

  /************Cartelera************/

  #cartelera{
    margin: 0;
    width: 100%;
  }

  .cartel{
    height: auto;
  }

  #c1{
    border: 0;
  }

  #c2{
    border: 0;
  }

  /************Pedir YA!!************/

  #bottons {
    margin: 0;
    width: 100%;
    height: auto;
    background-color:rgba(256, 256, 220, 0);
    border-color:rgba(256, 256, 220, 0);
  }

  .botton {
    margin-top: 20px;
    width:100%;
    height: auto;
  }

  a#pedirBoton:link, a#pedirBoton:visited, a#pedirBoton:hover, a#pedirBoton:active{
    height:100%;
    width: 100%;
    text-decoration:none;
    background-color: rgb(256, 256, 220, 0.6);
    border: 5px solid #978D7A;
    color: #000;
    padding: 10px 6vw 10px 6vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6.5vw;
    font-weight: bold;
    border-radius: 30%;
    margin: 0;
    font-family: "candara";
  }

  .botton_title {
    height:100%;
    width: 100%;
    text-align: center;
    vertical-align: center;
    padding: 0;
    font-family: "cooper black";
    font-size: 10vw;
    color: #000000;
    opacity: 1;
  }

  .botton>a.botton{
    width: 0;
    height: 0;
  }

  .botton_image {
    width: 0;
    height: 0;
    margin: 0;
  }

  .botton>p{
    margin: 0;
  }

  /************Calculadora************/

  #calculatorMenu {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .calculadora_title {
    font-size: 2.2em;
  }

  #calculatorMenu>p{
    font-size: 1em;
  }

  .calculadora_title {
    font-size: 8vw;
    padding: 20px 0px 20px 0px;
  }

  /************Quienes Somos************/

  #infoMenu{
    margin: 0;
    width: 100%;
  }

  .quienesSomos_title{
    padding-bottom: 5px;
    text-align: center;
  }

  .quienesSomos_title>p{
    font-size: 2.2em;
    text-align: center;
  }

  .quienesSomos_body>p{
    font-size: 1em;
    text-align: center;
  }

  /************Contacto************/

  #contacto{
    margin: 0;
    width: 100%;
  }

  .contacto_titulo{
    font-size: 6vw;
    padding: 0;
  }

  #contacto_msj {
    padding: 0;
  }

  #lista_contacto{
    padding-left: 5px;
  }

  .elemento_cont {
    padding-bottom: 1px;
    padding-top: 1px;
  }

  .titulito{
    font-size: 5vw;
  }
  
  .textito{
    font-size: 4vw;
  }

  /************Pedido************/
  #superMenu a:link, #superMenu a:visited, #superMenu a:hover, #superMenu a:active{
    font-size: 0.8em;
  }

  .pedidoText {
    margin: 0 10% 0 10%;
  }

  #superMenu h3{
    font-size: 25px;
  }

  .item-Title{
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 35px;
    padding-top: 10px;
  }

  .item-Description{
    visibility: hidden;
  }

  .cantidad-precio{
    width: auto;
    position: relative;
    float: left;
    top: -30%;
    left: 20%;
  }

  #carrito{
    min-height: 700px;
  }

  #CajaPedido h2{
    font-size: 1.5em;
  }

  #CajaPedido p{
    font-size: 0.8em;
  }
  
  a.submit:hover, a.submit:visited, a.submit:active, a.submit:link{
    padding: 5px 2.5vw 5px 3vw;
    font-size: 12px;
    margin: 5px auto 0 auto;
  }
  
  a.submit:hover{
    font-size: 14px;
  }
  

  #CajaDatos h2{
    font-size: 1.2em;
  }

  #CajaDatos p{
    font-size: 0.6em;
  }

  #campos-datos{
    font-size: 0.8em;
  }

  #campos-datos input{
    width: 90px;
  }

  #comentarios{
    height: 60px;
  }
      
  a.enviar:hover, a.enviar:visited, a.enviar:active, a.enviar:link{
    padding: 7.5px 3.75vw 7.5px 3.75vw;
    font-size: 14px;
  }
  
  a.enviar:hover{
    font-size: 18px;
  }

  

  /************Extra************/

  .visible-xs{
    visibility: visible;
  }

  
  .hidden-xxs{
    visibility: hidden;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }

  .col-xxs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 75%;
  }

  .col-xxs-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 66.66%;
  }

  .col-xxs-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 50%;
  }

  .col-xxs-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 33.33%;
  }

  .col-xxs-3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 25%;
  }
  
}