#header-nav{
  height:120px;
  background-color: #B62511;
  margin: 0px 25px 0px 25px;
}

.navbar-brand a h1{
  font-weight: 0;
  font-size: 75px;
  font-family: "informal roman";    /****informal roman, lucida handwriting****/
  padding-left: 20px;
  margin: 0px;
}

.navbar-brand a:link, .navbar-brand a:visited, .navbar-brand a:hover, .navbar-brand a:active{
  text-decoration:none;
  color: #DED890;
}

#collapsable-nav a{
  color: #DED890;
  font-weight: bold;
}

#collapsable-nav .active a{
  color: #3F3E39;
}

#collapsable-nav a:active{
  color: #666022;
}

#phone{
  clear: both;
  position: relative;
  text-align: right;
  top: 25px;
  left:0px;
}

#phone img{
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

#phone a:link, #phone a:visited, #phone a:hover, #phone a:active{
  text-decoration:none;
  color: #252525;
  font-size: 1.1em;
  vertical-align: middle;
  line-height: 100%;
}

.container{
  width: 90%;
}

.visible-lg{
  visibility: hidden;
}

.visible-md{
  visibility: hidden;
}

.visible-sm{
  visibility: hidden;
}

.visible-xs{
  visibility: hidden;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .visible-md{
  visibility: visible;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md{
  visibility: visible;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm{
  visibility: visible;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .visible-xs{
  visibility: visible;
  }
}