#superMenu{
	margin: 0px 5% 0 5%;
	background-color:rgba(0, 0, 0, 0.5);
	padding-bottom: 40px;
	border-bottom: solid 5px #000000;
}

.separador1{
	align: center;
	width: 80%;
	margin: 10px auto 10px auto;
	border: solid 1px #ffffff;
}

.separador2{
	align: center;
	width: 40%;
	margin: 10px auto 10px auto;
	border: solid 0.5px #ffffff;
}

#superMenu h1{
	text-align: center;
	margin: 0;
	padding-top: 10px;
	font-weight: bold;
	color: #DED890;
}

#superMenu h2{
	margin: 0px 0 20px 0px;
	padding-top: 10px;
	font-weight: bold;
	color: #eca1a6;
	font-size: 34px;
}

#superMenu h3{
	color: #DED890;
	margin-left: 50px;
	font-weight: bold;
	font-size: 30px;
}

#superMenu h4{
	color: #eca1a6;
	padding: 0 0 0 0;
	font-size: 25px;
}

h2#indice{
	text-align: center;
	margin-left: 0px;
	color: #DED890;
}

.Primer-col{
	text-align: right;
	padding-right: 20px; 
}

.Segunda-col{
	text-align: left;
	padding-left: 20px;
}

#GoMeat-link{
	text-align: right;
}

#GoFish-link{
	text-align: left;
}

#carrito-link{
	margin: 30px 0 30px;
	text-align: center;
}

.indice-col{
	font-size: 1.4em;
}

.texto-titulo{
	text-align: center;
}


#superMenu a:link, #superMenu a:visited, #superMenu a:hover, #superMenu a:active{
	text-decoration:none;
	color: #ffffff;
}

#superMenu a:hover{
	font-weight: bolder;
}

.pedidoText{
	color: #ffffff;
	margin: 0 0 0 0px;
}

#superMenu .item{
	height: 100px;
	margin: 10px 30px 10px 30px;
	background-color:rgba(0, 0, 0, 0.6);
}

#superMenu .item-Picture{
	padding: 0px;
}

#superMenu .item-Picture img{
	height: 100px;
	width: 100px;
}

#superMenu .item-text{
	color: #ffffff;
	max-height: 100px;
	height: 100px;
}

#superMenu .item-Description{
	height: 45px;
}

.cantidad-precio{
	width: 200px;
	position: relative;
	float: left;
	left: 60%
}

.cantidad{
	/* float: left; */
	position: relative;
	top: 0%;
	left: 0%;
	width: 40px;
	color: #000000;
	text-align: center;
}

.item-Price{
	position: relative;
	float: left;
	text-align: right;
	top: 4px;
	left: 0%;
}

/*****************CARRITO********************/

#carrito{
	margin: 0px 5% 0 5%;
	background-color:rgba(230, 225, 225, 0.75);
	height: 1000px;/******************************************HAY QUE SACAR***********/
	border-top: solid 5px #ffffff;
}

#carrito h1{
	text-align: center;
	font-weight: bold;
	color: #000000;
}

#CajaPedido{
	padding: 0px 5% 0 5%;
	margin: 20px 5% 0 5%;
	width: 40%;
	background-color:rgba(230, 225, 225, 1);
}

#CajaDatos{
	padding: 0px 5% 0 5%;
	margin: 20px 5% 0 5%;
	width: 40%;
	background-color:rgb(58, 57, 57);
	color: #ffffff;
}

#submit_botton{
	text-align: left;
	margin-bottom: 10px;
}
    
a.submit:hover, a.submit:visited, a.submit:active, a.submit:link{
	text-decoration:none;
	background-color: #ff6600;
	border: 5px solid #ffffff;
	color: #ffffff;
	padding: 10px 5vw 10px 6vw;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	border-radius: 30%;
	margin: 10px auto 0 auto;
	font-family: "candara";
}

a.submit:hover{
	font-size: 18px;
}

#campos-datos{
	margin: 5px 5px 5px 5px;
}